@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    MenthusViC University<br />
    Hogwarts Dr, RA, 10023-6399<br />
    <abbr title="Phone">P:</abbr>
    (208) 505-0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@MVC.com">Support@MVC.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@MVC.com">Marketing@MVC.com</a>
</address>