@model MVCDemo.Models.Course
@using MVCDemo.Controllers
@using MVCDemo.Models


@{
    ViewBag.Title = "Home Page";
}

<body style="">
    
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



</body>