@model MVCDemo.Models.Course
@using MVCDemo.Controllers
@using MVCDemo.Models


@{
    ViewBag.Title = "Home Page";
}

<body style="background-image: url('../../Images/university.jpeg')">
    
   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



</body>