@model MVCDemo.Models.Course
@using MVCDemo.Controllers
@using MVCDemo.Models


@{
    ViewBag.Title = "Home Page";
}

<div>
   @* @Model.CourseID + @Model.Name  + @Model.Capacity*@
    @Model.CourseID

</div>