body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*CUSTOM STYLES*/
/**//**//**//**//**//**//**//**//**//**//**//**/

/*BUTTONS*/
.btn {
border-radius: 0px 0px;

}
.btn-primary {
    background-color:white;
    border-color:white;
    color:black;
}
.btn-danger {
    background-color: white;/*rgba(189, 135, 135, 0.73);*/
    border-color: white;
    /*border-left-color:red;*/
    color:black;
}



/**//**//*HOVERS*//**//**//**//**/
.btn-primary:hover {
    border-left-color: #249daf;
    border-right-color: #249daf;
    border-top-color: #249daf;
    border-bottom-color:deepskyblue;
    background-color: #249daf;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier();
}

.btn-danger:hover {

   animation-direction:reverse;

}

.navbar-inverse {
    background-color: #249daf;
    border-color: deepskyblue;
}
.navbar-inverse .navbar-brand {
    color: #060606;
}
.navbar-inverse .navbar-nav > li > a {
    color: #060606;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: white;
    background-color:deepskyblue;

}