body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*CUSTOM STYLES*/
/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/


.active-field {
    color: deepskyblue;
    margin-top: 5px;
    border-top: 3px solid deepskyblue;
}

    .active-field :hover {
        color: deepskyblue;
        border-top: 3px solid deepskyblue;
    }

.btn {
    border-radius: 1px 1px;
}

.btn-primary {
    border: none;
    background-color: white;
    border-color: white;
    color: black;
    transition-duration: 0.2s;
}

    .btn-primary:hover {
        border-bottom: 1px solid deepskyblue;
        background-color: #249daf;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier();
    }

    .btn-primary:focus {
        background-color: deepskyblue;
    }

.btn-danger {
    background-color: white; /*rgba(189, 135, 135, 0.73);*/
    border-color: white;
    /*border-left-color:red;*/
    color: black;
    transition-duration: 0.2s;
}

    .btn-danger:hover {
        animation-direction: reverse;
    }

.btn-save {
    border: 1px solid #249daf;
}

.form-control {
    border-radius: 1px 1px;
    box-shadow: 100px;
    color: black;
}

    .form-control:focus {
        border-color: #249daf;
    }

.form-inline {
    display: inline;
}

.menthus {
    font-weight: bolder;
}


.navbar-inverse {
    background-color: black;
    height: 10px;
    border-color: #249daf;
}

    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        border-color: transparent;
    }

    .navbar-inverse .navbar-brand {
        color: #249daf;
        font-weight: bolder;
        font-size: x-large;
    }

        .navbar-inverse .navbar-brand:hover,
        .navbar-inverse .navbar-brand:focus {
            color: #1a7281;
            background-color: transparent;
            transition-duration: 0.2s;
        }

    .navbar-inverse .navbar-nav > li > a {
        color: #249daf;
        font-weight: bolder;
        font-size: small;
        transition-duration: 0.3s;
    }

.navbar-inverse .navbar-nav > li > a:hover {
            opacity: 0.8;
            color: deepskyblue;
            margin-top: 5px;
            border-top: 3px solid #249daf;
            transition-duration: 0.3s;
        }

        .navbar-inverse .navbar-nav > li > a:focus {
            border-top: 3px solid deepskyblue;
            transition-duration: 0.1s;
        }

        .navbar-inverse .navbar-nav > li > a:after {
            color: #249daf;
            font-weight: bolder;
            font-size: small;
            transition-duration: 0.2s;
        }


select option {
    background: #ffffff;
    color: black;
    box-shadow: inset 20px 20px #249daf
}
select option:active{
    background-color:crimson;
}

select option:hover {
    color: #249daf;
    background:#249daf ;
    box-shadow: 20px 20px #249daf;
}